# configuration will be read from /etc/clusterbank.conf

[main]
database=engine://user:pass@host:port/schema

[upstream]
# module=clusterbank.upstream.default
database=engine://user:pass@host:port/schema
