# configuration will be read from /etc/clusterbank.conf

[main]
database=engine://user:pass@host:port/schema

[upstream]
# module=clusterbank.upstreams.default

[cbank]
# unit_factor=1/60
# unit_label=hours
# resource=<resource_name>

